<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    <h2>Contact Page</h2>
    <h2>take value from app.js and give to a .ejs file<h2>

    <h3>name : <%= name%> </h3> 

    <h3>age : <%= age%> </h3>

    <a href="/"><li>Home</li></a>
    <a href="/about"><li>About</li></a>
    <a href="/contact"><li>Contact</li></a>
    <h3>END</h3>  
</body>
</html>